<div>
  <a [routerLink]="['/alquilan']">Alquilan</a>
  <a [routerLink]="['/ediciones']">Ediciones</a>
  <a [routerLink]="['/editados']">Editados</a>
  <a [routerLink]="['/libros']">Libros</a>
  <a [routerLink]="['/socios']">Socios</a>
  <a [routerLink]="['/volumenes']">Volumenes</a>
  
</div>
<router-outlet></router-outlet>
<!-- <form>
  <input
    [ngStyle]="{ display: 'none' }"
    type="text"
    name="id"
    disabled
    id="id"
    placeholder=""
    #id
    value="{{ _codigo_socio }}"
  />
  <label>DNI:</label>
  <input
    type="text"
    id="dni"
    placeholder="Introduzca el DNI"
    #dni
    value="{{ _dni }}"
  />
  <label>Nombre:</label>
  <input
    type="text"
    id="nombre"
    placeholder="Introduzca el Nombre"
    #nombre
    value="{{ _nombre }}"
  />
  <label>Apellidos:</label>
  <input
    type="text"
    id="apellidos"
    placeholder="Introduzca los apellidos"
    #apellidos
    value="{{ _apellidos }}"
  />
  <label>Direccion:</label>
  <input
    type="text"
    id="direcion"
    placeholder="Introduzca la direccion"
    #direccion
    value="{{ _direccion }}"
  />
  <label>Telefono:</label>
  <input
    type="text"
    id="tlf"
    placeholder="Introduzca el Telefono"
    #tlf
    value="{{ _tlf }}"
  />
  <button
    *ngIf="!buttonSelect"
    type="submit"
    (click)="
      addPartner({
        dni: dni.value,
        direccion: direccion.value,
        tlf: tlf.value,
        nombre: nombre.value,
        apellidos: apellidos.value
      })
    "
  >
    Añadir Socio
  </button>
  <button
    *ngIf="buttonSelect"
    type="submit"
    (click)="
      updatePartner({
        codigo_socio: id.value,
        dni: dni.value,
        direccion: direccion.value,
        tlf: tlf.value,
        nombre: nombre.value,
        apellidos: apellidos.value
      })
    "
  >
    Actualizar Socio
  </button>
</form>

<div class="show-data-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Dni</th>
        <th>tlf</th>
        <th>Direccion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let partner of partners">
        <td>{{ partner.codigo_socio }}</td>
        <td>{{ partner.nombre }}</td>
        <td>{{ partner.apellidos }}</td>
        <td>{{ partner.dni }}</td>
        <td>{{ partner.tlf }}</td>
        <td>{{ partner.direccion }}</td>
        <button (click)="deletePartner(partner)">delete</button>
        <button (click)="putPartnerInForm(partner)">update</button>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>ID Socio</th>
        <th>ID Volumen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rent of rents">
        <td>{{ rent.codigo_socio }}</td>
        <td>{{ rent.id_volumen }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>ID volumen</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let volume of volumes">
        <td>{{ volume.id }}</td>
        <td>{{ volume.estado }}</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>ID Libro</th>
        <th>ISBN</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let edit of edits">
        <td>{{ edit.id_libro }}</td>
        <td>{{ edit.ISBN }}</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>ID Libro</th>
        <th>ISBN</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let edition of editions">
        <td>{{ edition.ISBN }}</td>
        <td>{{ edition.editorial }}</td>
      </tr>
    </tbody>
  </table>
</div> -->
